body{
	background-color: lightgrey;
}
h3{
	text-align: center;
}

.kalkulator{
	margin: auto;
	text-align: center;
	color: white;
	padding: 5px 5px; 
	width: 360px;
	border-style: solid;
	border-color: #999999;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 20px 20px;
}

.input{
	width: 350px;
	height: 40px;
	margin-bottom: 5px;
}

.clear{
	width: 172px;
	height: 40px;
	margin-bottom: 5px;
	background-color: skyblue;
}

.output{
	width: 173px;
	height: 40px;
	margin-bottom: 5px;
}

.tambah{
	width: 60px;
	height: 40px;
}
.kali{
	width: 60px;
	height: 40px;
}
.kurang{
	width: 60px;
	height: 40px;
}
.bagi{
	width: 60px;
	height: 40px;
}
.hitung{
	width: 95px;
	height: 40px;
	background-color: yellow;

}

